:root {
    --pie-size: 500px;
    --sector-size: 100%;
    --border-radius: 50%;
    --green: rgb(0, 99, 0);
    --red: rgb(160, 0, 0);
    --gray: gray;
    --black: black;
  }
  
  body {
    background: var(--gray);
  }
  
  .pie-chart {
    position: relative;
    width: var(--pie-size);
    height: var(--pie-size);
  }
  
  .sector {
    --p: 18deg;
    position: absolute;
    width: var(--sector-size);
    height: var(--sector-size);
    border-radius: var(--border-radius);
    background: #851560;
    mask: conic-gradient(from var(--s), #0000, #000 1deg var(--p), #0000 calc(var(--p) + 1deg));
    -webkit-mask: conic-gradient(from var(--s), #0000, #000 1deg var(--p), #0000 calc(var(--p) + 1deg));
  }
  
  .dart-number {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    transform-origin: center calc(var(--pie-size) / 2 + 20px); /* Distance from the center */
}
  .dart-numberD {
    position: absolute;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    transform-origin: center calc(var(--pie-size) / 2 + 20px); /* Distance from the center */
}
  .dart-numberT {
    position: absolute;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    transform-origin: center calc(var(--pie-size) / 2 + 20px); /* Distance from the center */
}
  
  #triple {
    position: relative;
    margin: -180px 0px 0px 0px;
  }
  
  #single1 {
    width: 430px;
    height: 430px;
    margin: -465px 35px 35px 35px;
  }
  
  #double {
    width: 300px;
    height: 300px;
    margin: -400px 35px 35px 100px;
  }
  
  #single2 {
    width: 230px;
    height: 230px;
    margin: -300px 35px 35px 135px;
  }
  
  #bullS, #bullD {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--green);
  }
  
  #bullS {
    width: 60px;
    height: 60px;
    margin: -180px 35px 35px 220px;
  }
  
  #bullD {
    width: 25px;
    height: 25px;
    background-color: var(--red);
    margin: -78px 35px 35px 237.5px;
  }
  
#container {
    position: fixed;
    top: 43.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: var(--black);
    border-radius: 50%;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  #charts {
    margin: -20px 0px 0px 0px;
  }

  #overlay-content {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}